// Font Family
// $font-body: 'Rubik', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $font-title: 'Quattrocento', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, serif;
$font-body: 'Lato', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-title: 'Playfair Display', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, serif;

// Font colors,but can be used for other elements
$color-default:     #000;
$color-invert:      #f8f8f8; //not used
$color-grey-1:      #808285;
$color-grey-2:      #505050;
$color-blue:        #0078D7;

//Font-weights
$font-100:   100;
$font-200:   200;
$font-400:   400;
$font-600:   600;
$font-700:   700;

//Background colors
$bg-grey-1:        #fafbfc;
$bg-grey-2:        #f7f9fa;
$bg-grey-3:        #f1f2f2;
$bg-blue-1:        #0078D7;
$bg-blue-2:        #002050;
$bg-green-1:       #BAD80A;
$light-grey:       #E6E6E6;

//Border colors
$border-grey-1:       #eaeaea;
$border-grey-2:    #DDD;
$border-grey-3:    #BCBDBA;
$border-blue-1:    #0078D7;
$border-blue-2:    #002050;
