/* ==========================================================================
	Note: IE6-9 don't render any selectors/rules after 4095 of them in one 
		  stylesheet. And only support maximum 4 level of nested @import.
		  core.css have "?" selectors at "date" for app.css
   ========================================================================== */
@import "normalize";
@import "compass";
@import "settings";


@charset "UTF-8";
@import
  "foundation/components/grid",
  // "foundation/components/accordion",
  // "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  // "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  // "foundation/components/clearing", /* image lightbox */
  // "foundation/components/dropdown",
  // "foundation/components/dropdown-buttons",
  // "foundation/components/flex-video",
  // "foundation/components/forms",
  "foundation/components/inline-lists",
  // "foundation/components/joyride",
  // "foundation/components/keystrokes",
  "foundation/components/labels",
  // "foundation/components/magellan", /* static content to sticky navigation or content when scrolling */
  "foundation/components/orbit",
  // "foundation/components/pagination",
  // "foundation/components/panels",
  // "foundation/components/pricing-tables",
  // "foundation/components/progress-bars",
  // "foundation/components/range-slider",
  "foundation/components/reveal",
  // "foundation/components/side-nav",
  // "foundation/components/split-buttons",
  // "foundation/components/sub-nav", /* this is more like a filter buttons */
  // "foundation/components/switch",
  // "foundation/components/tables",
  // "foundation/components/tabs",
  // "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  // "foundation/components/offcanvas",
  "foundation/components/visibility";


/*-----------End of f5 style-------------- */

/* ==========================================================================
   $Customized Normalize for COMC
   ========================================================================== */
ul {
	list-style: none;
}

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
button[disabled]:hover,
html input[disabled],
input[disabled]:hover {
	cursor: not-allowed;
	background: #dadada;
}

/* ==========================================================================
   $Mixins and Variables: Must placed before Placeholder
   ========================================================================== */
// @include link-colors(#307EB6, $hover, $active, $visited, $focus);
// @include box-sizing(border-box);
// @include border-radius(3px); or border-top-radius($radius) etc..
// @include inline-block(alignment);
// @include legacy-pie-clearfix;
// @include box-shadow();
// @include hyphenation;  (Same as word-break(break-all) but have browsers future support for liquid resizing)
// @include force-wrap; (word-wrap: break-word with all prefixs);
// @include opacity();
// @include transition(.2s);
// @include filter-gradient($start-color, $end-color, $orientation);
// @include background-image(linear-gradient(left top, white, #dddddd));
// @include list-style-image($image)
// @include image-width($image);
// @include image-height($image);
// @include stretch-y($offset-top, $offset-bottom);
// @include stretch-x($offset-left, $offset-right)
// @include stretch($offset-top, $offset-right, $offset-bottom, $offset-left)
// @include horizontal-list-container; or horizontal-list-item($padding, $direction);
// @include transform (rotate(0deg) scale(1) skew(-50deg) translate(2px));
  // @include transition-property(width);
  // @include transition-duration(2s);
  // @include transition-timing-function(ease-in);

/*----------Variables------------*/

$font: arial, sans-serif; 
$font-l:  'os_l', $body-font-family ; 
$font-r:  'os_r', $body-font-family ;
$font-sm: 'os_sm', $body-font-family ;
// $font-b:  'os_b', $body-font-family ;

$color-red-original: #B91F24;
$color-red: #C1272D;
$color-red-light: #EEC8C8;
$color-brown: #554B4B;
$color-footer: #494040;
$color-block: #DFDDD1;

/* ---------Mixins-------------- */

$medium-down: "#{$screen} and (max-width:#{upper-bound($medium-range)})";
$large-down: "#{$screen} and (max-width:#{upper-bound($large-range)})";

@mixin inline-block-top {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}

@mixin inline-block-middle {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$fromColor}', endColorstr='#{$toColor}')";
}

// Not for responsive, support ie6-edge. Content can overflow container. Have to work
// with padding-box property
@mixin center {
  position: absolute;
  margin-top: -25%;
  margin-left: -25%;
  top: 50%;
  left: 50%;
}
// Need declare height such as 100%, may also need text-align: center;
// Don't work in win phone, but support ie8-edge.
// http://codepen.io/shshaw/full/gEiDt
@mixin newcenter {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow: hidden;
}

/* ==========================================================================
   $Placeholder . Some of mixins are defined in global.scss
   ========================================================================== */
%box-shadow-light {@include box-shadow(0 1px 1px 0 #ddd); }
%box-shadow-regular {@include box-shadow(0 2px 3px 0 #ccc); }
%box-shadow-dark {@include box-shadow(0 2px 10px 0 #555); }

%box-sizing { @include box-sizing; }
%clearfix { @include clearfix; }
.clearfix { @include clearfix; }

%center { @include center; }
%newcenter { @include newcenter; }

%inline-block-top { @include inline-block-top; }
%inline-block-middle { @include inline-block-middle; }

%ellipsis {@include ellipsis(nowrap);}

%wrap { @include force-wrap; }

%transition { @include transition-duration(0.2s); }

%success {background: $success-color; }
%error  {padding: 10px 0; background: $warning-color; }
%warning {background: $alert-color; }

/* ==========================================================================
   $Custom Font Style
   ========================================================================== */
/* 1. Generated by Font Squirrel (http://www.fontsquirrel.com) on Dec 18, 2013 02:32:21 PM America/New_York 
   2. Set SVG font in Media query so it displays smoother for Chrome
   3. If @font-face is not used, commented it out for less server requiest */
@font-face {
	font-family: 'os_l';
	src: url('/fonts/opensans/OpenSans-Light-webfont.eot');
	src: url('/fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/opensans/OpenSans-Light-webfont.woff') format('woff'),
		 url('/fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'),
		 url('/fonts/opensans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'os_r';
	src: url('/fonts/opensans/OpenSans-Regular-webfont.eot');
	src: url('/fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
		 url('/fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
		 url('/fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* @font-face {
	font-family: 'os_sm';
	src: url('/fonts/opensans/OpenSans-Semibold-webfont.eot');
	src: url('/fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
		 url('/fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
		 url('/fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
 */
/* ==========================================================================
   $Fontello
   ========================================================================== */
@font-face {
	font-family: 'fontello';
	src: url("/fonts/fontello/fontello.eot?74491464");
	src: url("/fonts/fontello/fontello.eot?74491464#iefix") format("embedded-opentype"),
		 url("/fonts/fontello/fontello.woff?74491464") format("woff"),
		 url("/fonts/fontello/fontello.ttf?74491464") format("truetype"),
		 url("/fonts/fontello/fontello.svg?74491464#fontello") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
  
.icon-comclogo:before { content: '\e802'; } /* '' */
.icon-desktop:before { content: '\e809'; } /* '' */
.icon-code:before { content: '\e807'; } /* '' */
.icon-left-circled:before { content: '\e80b'; } /* '' */
.icon-right-circled:before { content: '\e80a'; } /* '' */
.icon-mail-1:before { content: '\e805'; } /* '' */
.icon-up-open-big:before { content: '\e801'; } /* '' */
.icon-ok-circled2:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-left-open-big:before { content: '\e800'; } /* '' */

/* ==========================================================================
   $Customized global helper
   ========================================================================== */
.lt-ie9 {
  .main-section {
	display: none;
  }
}

// li.divider is defined in app.css already
hr.divider {
  margin: 0;
  border-top: 1px solid;
  height: 0;
  padding: 0;
  list-style: none;
  border-top-color: #ddd;
}

@media #{$small-only} {
	.small-collapse {
		padding: 0;
	}
}

.example-orbit {
	padding: 0;
}

.nomb {
	margin-bottom: 0 !important;
}
.half-height {
	min-height: 215px;
}
.full-height {
	min-height: 430px;
}
.double-height {
	height: 860px;
}
.whitebg {
	background: #fff;
}
.eee {
	background: #eee;
}
.lightgray {
	background: #f9f9f9;
}
.padding {
	padding: rem-calc(30 40 20);
}

/* ==========================================================================
   $Customized css
   ========================================================================== */
#header,
#header * {
  height: 0;
  overflow: hidden;
}

.main-section {
	padding-top: 5rem;
}

@media #{$large-up} {
	.main-section {
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);
	}
}

@media #{$medium-down} {
	.main-section {
		padding-top: 1rem;
		padding-left: 0;
		padding-right: 0;
	}
}


.goback,
.gototop {
	position: fixed;
	padding: 2rem;
	font-size: 2rem;
	color: #aaa;
	left: 0;
	top: 0;
	z-index: 9999;
	display: inline-block;
	&:hover {
		color: #555;
	}
}
.gototop {
	top: auto;
	bottom: 0;
	display: none;
}

.touch .main-section {
	padding-left: 0;
	padding-right: 0;
}

footer p { font-size: rem-calc(13); color: scale-color($primary-color, $lightness: 50%);}

h1, h2, h3, h4 { -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1); }
h5, h6 {font-family: $body-font-family; }
h1 a {
	font-size: rem-calc(30);
}

@media #{$medium-only} {
	h2 {
		font-size: $h4-font-size;
	}
}

button, .button { 
	@extend .antialiased;
}
.button.success {
	border-bottom: 2px solid scale-color($success-color, $lightness: -15%);
}
.button.secondary {
	border-bottom: 2px solid scale-color($secondary-color, $lightness: -15%);
}
.button > a {
	color: #fff;
}

/* ==========================================================================
   Portfolio landing page
   ========================================================================== */
.top-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;
	@include single-transition;
	li, a {
		@include single-transition;
	}
	.left {
		// margin-left: 
	}
}
.top-bar-section ul{
	li > a {
		font-size: rem-calc(16);
	}
} 

.wrapper {
	@extend .text-left;
	@extend %clearfix;
	padding: rem-calc(100) 0;
	border-bottom: 1px solid #ddd;
	&:last-child { border-bottom: 0;}
	.figure { padding: 0; }
	div, h3,h4,h5,h6, li {
		@include single-transition;
	}
}

.techskills {
	padding-top: rem-calc(60);
	i {
		font-size: rem-calc(50);
	}
	h3 { margin: rem-calc(20 0 30);}
}
/* ==========================================================================
   UX/UI web.html
   ========================================================================== */
body.ux {
	background: #222;
}

.orbit-caption {
	text-align: center;
}

#alert-for-nav {
	text-align: center;
	width: rem-calc(500); //560 for 2 arrows
	height: rem-calc(90);
	z-index: 100;
	padding: rem-calc(15px 30px);
	background: #fff;
	@extend %box-shadow-dark;
	@extend %newcenter;
	@include border-radius(2px);
	display: none;
}

#alert-for-nav {
	i { font-size: rem-calc(40); @include inline-block(middle); margin-top: rem-calc(-3); }
	h6 { color: #888 !important; }
}

html.touch body.ux {
	.reveal-modal-bg,
	#alert-for-nav {
		display: none;
	}
}

/* ==========================================================================
   design.html
   ========================================================================== */
.design {
	background: #222;
	padding: 0;
	.wrapper {
		border: 0;
		padding: rem-calc(0);
	}
	.row {
		margin-bottom: 1px !important;
	}

	.button.small { 
		border: 1px solid #ddd;
		border-bottom: 2px solid #ddd; 
		margin-bottom: 0; 
		background: none; color: #aaa;
		vertical-align: middle;
		@extend .radius;
		&:hover {
			color: $info-color;
			border-bottom: 2px solid #ddd;
		}
	}

	.bballhat {
		@extend .text-center;
		line-height: rem-calc(32);
	}
	.logorows {
		position: relative;
		background: #fff;
		.columns {
			@extend .full-height;
			padding: 0;
		}
		.icon-comclogo {
			@extend %newcenter;
			text-align: center;
			height: rem-calc(250);

			font-size: rem-calc(250);
			color: $color-red;
			line-height: 100%;
		}
	}

	.text-row {
		position: relative;
		background: #fff;
	}
}

.reveal-modal {
	ul { margin-left: rem-calc(0) !important; }
	i { margin-right: rem-calc(10); }
    a { color: #29B463; }
}

[class*="block-grid-2"] {
	&>li {
	}
}

/* ==========================================================================
   figure and figcaption hover effect
   ========================================================================== */
figure {
	.icon-up-open-big {
		@extend %newcenter;
		text-align: center;
		top: auto;
		color: #ccc;
	}
	.icon-comclogo+.icon-up-open-big {
			bottom: rem-calc(10);
	}
}

.grid li {
	// display: inline-block;
	// margin: 0;
	text-align: left;
	position: relative;
}
.grid figure {
	margin: 0;
	position: relative;
}
figure .icon-comclogo, 
.grid figure img {
	// max-width: 100%;
	// display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	padding: rem-calc(20);
	// background: $info-color;
	background: $info-color;
	color: #fff;
	// width: 50%;  /* this property cause flickering in certain view size */
	text-align: center;
	h5 { color: #ddd; }
}
// belows are based on effect such as .cs-style-1/2/3..
.cs-style-3 figure {
	overflow: hidden;
}

.logorows i,
.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.logorows figure:hover i,
.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

 .cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-o-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}


.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);

	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
/* ==========================================================================
   media query
   ========================================================================== */
@media #{$small-only} { 
	.goback i {
		display: none;
	}
	.icon-comclogo {
		font-size: rem-calc(150);
	}
	.main-section {
		padding: 0;
	}
	.orbit-caption {
		font-size: rem-calc(10);
	}

}

@media #{$large-down} {
	.cs-style-3 figcaption,
	.bballhat {
		line-height: normal !important;
	}

	.slides-container {
		li {
			width: 100% !important;
		}
		img {
			max-width: auto !important;
			max-height: auto !important;
			@include single-transition;
		}
	}
}

.touch {
	.top-bar,
	.top-bar h1 a {
		height: rem-calc(52);
		line-height: rem-calc(50) !important;
		text-transform: none !important;
		text-align: center !important;
		margin: 0 auto !important;
	}
	.top-bar {
		position: relative;
	}
	.top-bar-section {
		display: none;
	}
	.wrapper {
		padding: rem-calc(20 0);
	}
	p {
		font-size: rem-calc(14);
		line-height: 1.5rem !important;
	}
}

@media #{$landscape} {
	.touch {
		.top-bar {
			height: rem-calc(32);
			h1 a {
				font-size: rem-calc(16);
				line-height: 2.125rem !important;
			}
		}
		h1,h2,h3,h4,h5,h6 {
			font-size: rem-calc(20);
		}
	}
}

